
* {
	-webkit-touch-callout: none;
	-webkit-user-select:none; }

html {
	text-align: center;
	font-family: Helvetica, sans-serif;
	background: #000; }

.dice {
	position: relative;
	margin: 20px auto 0;
	width: 200px;
	height: 200px;
	text-align: center;
	color: #FFF;
	font-size: 64px;
	line-height: 130px;
	font-weight: bold;
	text-indent: -9999px;
	background: transparent url(/i/dice.png) no-repeat -1200px 0; }

.dice.s1 {
	background-position: 0 0; }

.dice.s2 {
	background-position: -200px 0; }

.dice.s3 {
	background-position: -400px 0; }

.dice.s4 {
	background-position: -600px 0; }

.dice.s5 {
	background-position: -800px 0; }

.dice.s6 {
	background-position: -1000px 0; }

.dice.s1.final {
	background-position: 0 -200px; }

.dice.s2.final {
	background-position: -200px -200px; }

.dice.s3.final {
	background-position: -400px -200px; }

.dice.s4.final {
	background-position: -600px -200px; }

.dice.s5.final {
	background-position: -800px -200px; }

.dice.s6.final {
	background-position: -1000px -200px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	
	.dice {
		background-image: url(/i/dice@2x.png);
		background-size: 1400px 200px; }
	
}

/* Landscape */
@media only screen and (min-width: 321px) {

	.dice {
		display: inline-block;
		margin: 50px 10px 0;
	}
	
}